@inject NavigationManager NavigationManager

<Empty>
    @*<DescriptionTemplate>
        <span>Customize <a>Description</a></span>
    </DescriptionTemplate>*@
    @*<ChildContent>
        <Button type="@ButtonType.Primary">Create one new</Button>
    </ChildContent>*@

</Empty>

@code {
    //protected override void OnInitialized()
    //{
    //    var returnUrl = NavigationManager.Uri;
    //    NavigationManager.NavigateTo($"login?returnUrl={returnUrl}", forceLoad: true);
    //}
}
